<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capabilities</key>
	<array>
		<string>NAMESPACE</string>
		<string>UIDPLUS</string>
		<string>QUOTA</string>
		<string>IMAP4REV1</string>
	</array>
	<key>mboxes</key>
	<dict>
		<key>Apple Mail To Do</key>
		<dict>
			<key>IMAPMailboxAttributes</key>
			<integer>0</integer>
			<key>IMAPMailboxChildren</key>
			<dict/>
			<key>MailboxUnreadCount</key>
			<integer>0</integer>
		</dict>
		<key>Deleted Messages</key>
		<dict>
			<key>IMAPMailboxAttributes</key>
			<integer>0</integer>
			<key>IMAPMailboxChildren</key>
			<dict/>
			<key>MailboxDisplayIndex</key>
			<integer>0</integer>
			<key>MailboxUnreadCount</key>
			<integer>0</integer>
		</dict>
		<key>Deleted Messages (softbank)</key>
		<dict>
			<key>IMAPMailboxAttributes</key>
			<integer>0</integer>
			<key>IMAPMailboxChildren</key>
			<dict/>
			<key>MailboxUnreadCount</key>
			<integer>0</integer>
		</dict>
		<key>Drafts</key>
		<dict>
			<key>IMAPMailboxAttributes</key>
			<integer>0</integer>
			<key>IMAPMailboxChildren</key>
			<dict/>
			<key>MailboxUnreadCount</key>
			<integer>11</integer>
		</dict>
		<key>INBOX</key>
		<dict>
			<key>IMAPMailboxAttributes</key>
			<integer>0</integer>
			<key>IMAPMailboxChildren</key>
			<dict/>
			<key>MailboxUnreadCount</key>
			<integer>0</integer>
		</dict>
		<key>Sent Messages</key>
		<dict>
			<key>IMAPMailboxAttributes</key>
			<integer>0</integer>
			<key>IMAPMailboxChildren</key>
			<dict/>
			<key>MailboxUnreadCount</key>
			<integer>0</integer>
		</dict>
		<key>medcine</key>
		<dict>
			<key>IMAPMailboxAttributes</key>
			<integer>0</integer>
			<key>IMAPMailboxChildren</key>
			<dict>
				<key>&amp;MF0wbk7W-</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxDisplayIndex</key>
					<integer>2</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>&amp;VHxUOFZo-</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxDisplayIndex</key>
					<integer>6</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>&amp;X2JiEFkWedE-</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxDisplayIndex</key>
					<integer>4</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>&amp;X6p0sFZo-</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxDisplayIndex</key>
					<integer>7</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>&amp;XA9RUA-</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxDisplayIndex</key>
					<integer>8</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>&amp;YR9n03XH-</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxDisplayIndex</key>
					<integer>3</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>&amp;ZT5cBH3a-</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict>
						<key>&amp;MNUwpzDrML0w8w-</key>
						<dict>
							<key>IMAPMailboxAttributes</key>
							<integer>0</integer>
							<key>IMAPMailboxChildren</key>
							<dict/>
							<key>MailboxUnreadCount</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>MailboxDisplayIndex</key>
					<integer>14</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>&amp;ZbB1H1FQ-</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxDisplayIndex</key>
					<integer>10</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>&amp;aASZCg-</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxDisplayIndex</key>
					<integer>15</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>&amp;bYhTFlZo-</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxDisplayIndex</key>
					<integer>9</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>&amp;eV59TA-</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxDisplayIndex</key>
					<integer>11</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>&amp;fL55Xg-</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict>
						<key>&amp;Ypd8vnledcWFrA-</key>
						<dict>
							<key>IMAPMailboxAttributes</key>
							<integer>0</integer>
							<key>IMAPMailboxChildren</key>
							<dict/>
							<key>MailboxUnreadCount</key>
							<integer>0</integer>
						</dict>
						<key>&amp;io135XXH-</key>
						<dict>
							<key>IMAPMailboxAttributes</key>
							<integer>0</integer>
							<key>IMAPMailboxChildren</key>
							<dict/>
							<key>MailboxUnreadCount</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>MailboxDisplayIndex</key>
					<integer>13</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>&amp;gU6B0w-</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxDisplayIndex</key>
					<integer>12</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>&amp;geheimkcZ,s-</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxDisplayIndex</key>
					<integer>16</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>&amp;haw-</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxDisplayIndex</key>
					<integer>17</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>&amp;iEBtsg-</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxDisplayIndex</key>
					<integer>5</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>ER</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict>
						<key>BLS</key>
						<dict>
							<key>IMAPMailboxAttributes</key>
							<integer>0</integer>
							<key>IMAPMailboxChildren</key>
							<dict/>
							<key>MailboxUnreadCount</key>
							<integer>0</integer>
						</dict>
						<key>PALS</key>
						<dict>
							<key>IMAPMailboxAttributes</key>
							<integer>0</integer>
							<key>IMAPMailboxChildren</key>
							<dict/>
							<key>MailboxUnreadCount</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>MailboxDisplayIndex</key>
					<integer>0</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>ICU</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>0</integer>
					<key>IMAPMailboxChildren</key>
					<dict>
						<key>&amp;jzhtsg-</key>
						<dict>
							<key>IMAPMailboxAttributes</key>
							<integer>0</integer>
							<key>IMAPMailboxChildren</key>
							<dict/>
							<key>MailboxUnreadCount</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>MailboxDisplayIndex</key>
					<integer>1</integer>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>MailboxDisplayIndex</key>
			<integer>2</integer>
			<key>MailboxUnreadCount</key>
			<integer>0</integer>
		</dict>
		<key>ped.surgery</key>
		<dict>
			<key>IMAPMailboxAttributes</key>
			<integer>257</integer>
			<key>IMAPMailboxChildren</key>
			<dict/>
			<key>MailboxDisplayIndex</key>
			<integer>1</integer>
			<key>MailboxUnreadCount</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>separator</key>
	<string>/</string>
</dict>
</plist>
